button:not(.flat) {
  padding: 0px 5px;
}

headerbar buttonbox button:not(.flat) {
  margin: 0;
  padding: 4px 9px;
}

headerbar buttonbox image {
  margin: 0;
  padding: 0;
}

headerbar .image-button {
  padding: 4px;
}

separator {
  background-color: darker(@borders);
}
